# npm 基础配置
registry=https://registry.npmjs.org
save-exact=false
package-lock=true
save-prefix=^

# SSL 配置
strict-ssl=true

# 日志级别
loglevel=info

# 其他配置
engine-strict=false
legacy-peer-deps=false

# Scope 镜像源
@ldesign:registry=http://npm.longrise.cn:6286/

